@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #252D38;
    background-image: url('./Pages/assests/bodyBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#animation {
    background-image: url('./Pages/assests/foxBg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#levels-page {
    background-image: url('./Pages/assests/levelBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    
}